The Winning Effect: An Analysis of the Correlation between MLS Win/Loss Ratios and Attendance Numbers

In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt

In [22]:
attendance = pd.read_csv("MLS-Attendance.csv")

attendance.head()

,Club,StadiumCapacity,TotalSpectators,AverageAttendance,Matches,SoldOut,Capacity %,Year
0,Atlanta,73.019,299.850,49.975,6,-,0.684,2023
1,Nashville,30.000,285.380,28.538,10,1,0.951,2023
2,Charlotte,75.412,208.987,34.831,6,-,0.462,2023
3,Vancouver,22.120,207.652,29.665,7,7,1.341,2023
4,Austin,20.738,207.380,20.738,10,10,1.000,2023

In [27]:
stats = pd.read_csv("MLS-Data.csv")

stats.head()

,Club,GamesPlayed,TotalPoints,TotalWins,TotalLosses,Draws,Goals,GoalsAgainst,GoalsDifferential,PenaltyKickTaken,PenaltyKickConceded,Fouls,FoulsSuffered,Offsides,YellowCards,RedCards,Year
0,Cincinnati,34,69,20,5,9,57,39,18,9,5,422,429,53,75,5,2023
1,Orlando,34,63,18,7,9,55,39,16,5,3,394,451,51,68,1,2023
2,Columbus,34,57,16,9,9,67,46,21,7,4,384,341,52,59,1,2023
3,St. Louis,34,56,17,12,5,62,45,17,5,7,481,356,42,77,4,2023
4,Philadelphia,34,55,15,9,10,57,41,16,11,6,465,368,90,82,5,2023